.Loading {
  height: inherit;
  width: inherit;
  border-radius: 20px;

  zoom: 200%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 15px;

  background-color: rgba(0, 0, 0, 0.904);
  color: white;
}